BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true         
  AfterControlStatement: false
  AfterClass: true
  AfterNamespace: true
  AfterEnum: true
  BeforeElse: false            
  IndentBraces: false

AccessModifierOffset: -4
BinPackArguments: true
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakAssignment: 50
InsertNewlineAtEOF: true
