---
Checks: >
  - '*'
  - bugprone-use-after-move
  - bugprone-too-small-loop-variable
  - bugprone-macro-parentheses
  - bugprone-integer-division
  - cppcoreguidelines-avoid-magic-numbers
  - cppcoreguidelines-avoid-magic-statements
  - cppcoreguidelines-init-variables
  - cppcoreguidelines-pro-type-const-cast
  - cppcoreguidelines-pro-bounds-array-to-pointer-decay
  - cppcoreguidelines-pro-type-reinterpret-cast
  - cppcoreguidelines-no-malloc
  - google-runtime-int
  - google-explicit-includes
  - modernize-loop-convert
  - modernize-use-auto
  - modernize-use-default-member-init
  - modernize-use-nullptr
  - modernize-use-override
  - modernize-use-using
  - modernize-use-constexpr
  - performance-for-range-copy
  - performance-unnecessary-value-param 
  - performance-inefficient-vector-operation 
  - performance-optimized-vector-insert
  - performance-unused-parameters 
  - readability-braces-around-statements
  - readability-function-cognitive-complexity
  - readability-magic-numbers
  - readability-container-size-empty
  - clang-diagnostic-deprecated
  - clang-diagnostic-pedantic

WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'